*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQienA2VG8v1J3SmGe9ID0iMrunO_iFk6WG0w&s);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.navbar{
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.726);
    display: flex;
    width: 100%;
}  
.logo{
    color:brown;
    font-size:40px;
    font-weight: 1000;
    padding: 10px;
    margin: 10px;
    
}
.menu{
    width:80%;
}
.menu ul{

    display: flex;
    float:left;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;

}
ul li{
    list-style-type:none;
    margin-left: 62px;
    margin-top: 35px;
    font-size: 16px;
    text-decoration: white;

}
.menu ul li a{
    text-decoration:none;
    list-style-type:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:100px;
    color: white;
    transition:0.4s ease-in-out


}

.menu ul li a:hover{
    color: orangered;
}
.search{
    width:300px;
    float:left;
    margin: 30px;
    display: flex;
  
    
    
}

.srch{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border: 1px solid orangered;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 0px;
    
}
.search .srch:focus{
    outline:none;
    box-shadow: none;
    border: 1px solid white;
}
.btn{
    width: 80px;
    height: 30px;
    background-color: orangered;
    color: white;
    font-size: 15px;
    margin-left: 0px;
}



.content{
    width: 1000px;
    height: auto;
    color: white;


}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    letter-spacing: 2px;
    padding-left: 20px;
    margin-top: 35px;
}
.content .par{
    padding-left: 40x;
    padding-bottom: 25px;
    line-height:30px;
    letter-spacing: 1px;
    margin-left: 30px;
}
.content .cn{
    height: 40px;
    width:140px;
    border-radius:10px;
    background-color: orangered;
    border:none;
    margin-bottom:10px;
    margin-left: 20px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500px;

}
.content .cn a{
    text-decoration: none;
    color:black;
    transition:0.3s ease;
}

.cn:hover{
    background-color: white;
}
.content span{
    color: orangered;
}
.form {
    height: 380px;
    width: 250px;
    background-color:rgba(0, 0, 0, 0.795);
    top:-20px;
    left:870px;
    position:absolute;
    border-radius: 10px;
    padding: 25px;
    margin-top:160px;
}
.form h2{
    width: 200px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 5px;
    margin-right:10px;
    font-size:25px;
    
}
.form input {
    width:200px;
    height: 35px;
    background: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    color: white;
    font-size:15px;
    letter-spacing: 1px;
    margin-top:30px;
    font-family: sans-serif;
}
::placeholder{
    color: white;
}
.form .btnn{
    width:200px;
    height: 40px;
    background-color: orangered;
    border: none;
    margin-top: 19px;
    font-size: 17px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    columns: white;
    transition:  0.4s ease;
}
.btnn:hover{
    background-color: white;
    color:white;
}
.form .btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.link{
margin-top: 20px;
color: white;
text-align: center;
font-family: arial;
font-size: 15px;
}

.form .link a{
    text-decoration: none;
    color:orangered;
    margin-top: 10px;
    text-align: center;
}
.liw {
text-align: center;
padding-top: 12px;
color: white;
}
.icon{
    text-decoration: none;
    color: white;
    
}
.icon ion-icon{
    color: white;
    font-size: 25px;
    padding-left: 10px;
    padding-top:8px;
    transition: 0.3S ease;
}
.icon ion-icon:hover{
    color: orangered;
}