*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
.image{
    height: 350px;
    width: 100px;
    border-radius:50%;
    overflow: hidden;
    padding:3px;
    background-color: blue;
}
.profile-img{
    height:100%;
    width:100%;
    object-fit: cover;
    border: 3px solid beige;
    border-radius: 50%;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: whitesmoke;
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius:20px;
    margin: 20px;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-data .name{
    font-size: 22px;
    font-weight: 500px;
}
.text-data .job{
    font-size: 18px;
    font-weight: 400px;
}

.profile-card .media-button{
    display: flex;
    align-items: center;


}
.media-button .link{
    color: white;
    background-color: blue;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 8px;
    font-size: 17px;
}
.profile-card .buttons{
    display:flex;
    align-items: center;
    margin-top: 25px;
    
}
.buttons .button{
    border-radius: 25px;
    background-color: blue;
    padding:8px 24px;
    margin:0 8px;
    margin-bottom:10px;
    border:none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.buttons .button:hover{
    background-color: rgb(69, 61, 146);
}

 .profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top:20px;
    padding: 10px;
    margin: 0 20px

}
.analytics .data{
    padding:0 20px;
    margin: 10px;
    color:black;
    border-right: 2px  solid rgba(255, 255, 255, 0.658);
    margin-left: 5px;
}
